<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @receiver_name %>, </h1>
<p>
  Your lunch will be with <%= @other_participants.join(' & ') %>
</p>

<p>Thanks, have a great day!</p>
</body>
</html>
